.bar{
    margin: 5px;
    padding: 10px;
    grid-area: n;
    background-color: rgb(226, 244, 255);
    border-radius: 5px;
    
    }
    
.bar a {
    color: rgb(16, 9, 119);
    text-decoration: none;
    font-size: 20px;
}
.bar a.active {
    font-weight: bold;
    color: rgb(21, 11, 156);
}
.bar .friends {  
    font-size: 30px;
}
.friend{
    margin-top: 30px;
}