.post {
    padding: 15px;
    font-size: 20px;
    text-transform: uppercase;
    color: rebeccapurple;
}

.like {
    text-transform: none;
    font-size: 15px;
    color: rgb(184, 0, 0);
}

.post img {
    display: block;
    width: 60px;
    border-radius: 60%;
}