
.app-wrapper {
    z-index: +5;
    width: 80%;
    margin: 0 auto;
    overflow: auto;
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 160px 1fr;
    grid-template-columns: 3fr 10fr;
}

.app-wrapper-content {
    grid-area: c;
    margin: 5px;
    background: linear-gradient(180deg, #00C322, #65E17B);
    border-radius: 5px;
}

.friend {
    margin-left: 80px;
}
.me {
    justify-content: end;
}