.formControl.error textarea,
.formControl.error input {
    display: block;
    border: solid red 2px;
}

.formControl textarea {
    margin-bottom: 5px;
}

.formControl.error span {
    color: red;
}